@font-face {
    font-family: iranYekan;
    src: url(/assets/fonts/woff/IRANYekanX-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: iranYekan;
    src: url(/assets/fonts/woff/IRANYekanX-Bold.woff)format(woff);
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: iranYekan;
}